* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}

:root {
    --color-primary: #fff;
    --color-secundary: #BEFF16;
    --color-text: #757675;
    --color-background: #191919;
    --color-hover: #BEFF1638;
    --color-black: #000;
}

/* GENERAL */

.main {
    z-index: 1;
}

.main__container {
    padding: 0 10px;
    margin: 0 auto;
}

/* HEADER */

.header-desktop {
    display: none;
}

.header-mobile {
    height: 80px;
}

.header-mobile__container {
    margin: 0 auto;
    padding: 0 10px;
}

.header-mobile__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header-mobile__nav--logo {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--color-primary);
}

.header-mobile__nav--toggle {
    width: 40px;
    cursor: pointer;
}

.header-mobile__nav-menu {
    position: absolute;
    top: 80px;
    left: 0%;
    width: 100%;
    height: 90vh;
    transition: all 1s;
    background-color: var(--color-black);
}

.header-mobile__nav-menu-visible {
    position: absolute;
    left: -100%;
    transition: all 1s;
    z-index: 10;
}

.header-mobile__nav-menu--link {
    height: 20%;
}

.header-mobile__nav-menu--link a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-primary);
}

.header-mobile__nav-menu--link a:hover {
    color: var(--color-black);
    background-color: #BEFF16;
}

/* SECTION INTRODUCE */

.main__introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.main__introduce--title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__introduce--title-h4 {
    margin-top: 200px;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-secundary);
}

.main__introduce--title-h2 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--color-primary);
}

.main_introduce--title-h3 {
    margin-top: 10px;
    margin-bottom: 100px;
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-secundary);
}

.main__introduce--button-wsp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 30px;
    border: 1px solid var(--color-secundary);
    cursor: pointer;
    transition: all .5s;
    background-color: transparent;
}

.main__introduce--button-wsp:hover {
    transition: all .5s;
    background-color: var(--color-hover);
}

.main__introduce--button-wsp-icon {
    width: 25px;
    padding-right: 5px;
}

.main__introduce--button-wsp-text {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-primary);
}

.main__introduce--slider {
    display: none;
}

/* SECTION ABOUT */

.main__about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}
.main__about--title {
    margin-bottom: 50px;
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-primary);
}

.main__about--text {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-text);
}

.main__about-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -300px;
    width: 100%;
    height: auto;
}

.main__about-icons--title {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-primary);
}

.main__about-icons--img {
    width: 60px;
}

.main__about-icons-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 30px;
}

























/* KEYFRAMES */

@keyframes transitionDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}














